<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- my name is {{mydata}} -->
    <!-- <ul>
        {% for i in mydata %}
        {% if i > 20 %}
        <li>{{i}}</li>
        {% endif %}
        
        {% endfor %}


    </ul>
    <ul>
        {% if var1 == 'kartikey' %}
        <li>Hello</li>
        {% else %}
        <h1>{{var1}}</h1>
        {% endif %}

    </ul> -->
    <h4>courses are: </h4>
    <select>
        {% for course in course % }
           <option value="{{course}}">{{course}}</option>
        //{% endfor %}?
        
    </select>

</body>
</html>